<h1><%= @task.title %></h1>
<h3><%= @task.details %></h3>



<%# show the title %>
<%# show details %>
<%# show completion %>

<%= link_to "Back to list", tasks_path %>
<%= link_to "Edit this task", edit_task_path %>
